@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mortgage Calculator</h1>
    <p class="lead">
        The Mortgage Calculator helps you:
        <ul>
            <li>Choose the right loan for you</li>
            <li>The Interests and Repayment on your loan</li>
        </ul>
    </p>
</div>


<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Calculator</legend>

                <div class="form-group row">
                    <label class="control-label col-md-4" for="Mortgage">Mortgage Type</label>
                    <div class="col-md-4">
                        <select id="option-mortgagetype" class="selectpicker form-control show-tick"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 control-label" for="textinput">Interest Rate</label>
                    <div class="col-md-4 topcontrol">
                        <span id="interest-rate">10.5</span><span>%</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="loan-amount">Loan Amount</label>
                    <div class="col-md-6">                      
                        <div id="slider-loan-amount"  class="topcontrol">
                            <div id="loan-amount" class="ui-slider-handle"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="loan-tenure">Loan Tenure(in year)</label>
                    <div class="col-md-6">                       
                        <div id="slider-year" class="topcontrol">
                            <div id="loan-year" class="ui-slider-handle"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-3">
                        <span>Total Payment</span>
                        <span id="btn-total-repayment" class="btn btn-primary"></span>
                    </div>
                    <div class="col-md-3">
                        <span>Total Interest Payable</span>
                        <span id="btn-total-interest" class="btn btn-primary"></span>
                    </div>
                </div>               


                <legend>Detail</legend>

                <div class="row">
                    <div>
                        <table id="table-mortgage" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mortgage Type</th>
                                    <th>Interest Repayment</th>
                                    <th>Effective StartDate</th>
                                    <th>Effective EndDate</th>
                                    <th>Interest Rate</th>
                                    <th>Terms In Months</th>
                                    <th>Cancellation Fee</th>
                                    <th>Establishment Fee</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>


<script>
    (function ($) {
        GetMortgage();
    });
</script>